<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>de.kutilek.FontForgeImport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FontForge Import</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/jenskutilek/Glyphs-FontForgeImport/master/FontForge%20Import.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/jenskutilek/Glyphs-FontForgeImport</string>
	<key>productReleaseNotes</key>
	<string>Fix for newer pyobjc</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2020 by Jens Kutilek</string>
	<key>NSPrincipalClass</key>
	<string>FontForgeImport</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
